<%- include('partials/header') %>

<div class="center" >
   <div class="card" style="width: 25rem;">
      <div class="card-body">
         <h5 class="card-title">Wichtel Fee</h5>
         <p class="card-text">Die Wichtelfee hilft beim Auslosen von Wichtel in einer Gruppe. 
            Jeder Wichtel muss seine Teilnahme in einer Gruppe bestätigen. 
            Erst wenn alle Teilnahmen bestätigt sind, wird ausgelost</p>
         <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-center"><a href="/wichtelHRoffice" class="btn btn-outline-success">Neue Gruppe erstellen</a></li>
            <li class="list-group-item d-flex justify-content-center"><a href="/wichtelunterschlupf" class="btn btn-outline-success">Mein Wichtelunterschlupf</a></li>
          </ul>
      </div>
   </div>
</div>


<%- include('partials/footer') %>