.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.form-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}

.nav-user-auth {
    color: 	#198754;
}

.fullScreenCenterCard {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.cardSpace {
    margin: 1rem 1rem 1rem 1rem;
}



