<ion-header>
  <ion-toolbar>
    <ion-title color="success">Soko's SandBox</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="flex-middle">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Wilkommen in meiner Sandbox</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Diese Seite dient als Absprungbrett zu unterschiedlichen Pojekten.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="flex-middle">
  <ion-card>
      <ion-card-header>
        Projekt 1
      </ion-card-header>
      <ion-card-content>
        <ion-button color="success" size="full">Go to</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Projekt 2
      </ion-card-header>
      <ion-card-content>
        <ion-button color="success" size="full">Go to</ion-button>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="flex-middle">
    <ion-card>
        <ion-card-header>
          Projekt 3
        </ion-card-header>
        <ion-card-content>
          <ion-button color="success" size="full">Go to</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Projekt 4
        </ion-card-header>
        <ion-card-content>
          <ion-button color="success" size="full">Go to</ion-button>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>
